.app-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/hintergrund_ohne_kletterer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Eventuell weitere Stildefinitionen hinzufügen, je nach Bedarf */
    display: flex;      /* Flexbox hinzufügen, um die Kinderelemente leichter zu positionieren */
    flex-direction: column;  /* Standardrichtung */
    align-items: center;     /* Zentriert Inhalte horizontal */
}

.blurr-app-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/hintergrund_blurry_gruen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Eventuell weitere Stildefinitionen hinzufügen, je nach Bedarf */
    display: flex;      /* Flexbox hinzufügen, um die Kinderelemente leichter zu positionieren */
    flex-direction: column;  /* Standardrichtung */
    align-items: center;     /* Zentriert Inhalte horizontal */
}

@font-face {
    font-family: "longi";
    src: url('../fonts/Longhaul.ttf') format('truetype');
}

@font-face {
    font-family: "rale";
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

h1 {
    font-family: "longi";
    font-size: 100px;
    text-align: center;
    color:#EAEAEA;
    display: flex;
    margin: 250px auto;

}

#Logo {
    width: 600px;     
    height: auto;       
    margin: auto;
    display: flex;
    margin-top: 10px;
}

.emailInput, .password {
    width: 520px; 
    height: 120px; 
    border-radius: 20px; 
    border-style: none;
    padding-left: 20px; 
    font-size: 40px; 
    background-color: #a1ada3; 
    font-family: "rale";
    margin-bottom: 300px;
}

.password {
    margin-top: 1000px;
}

.weiterbutton, .registrieren {
    display: inline-flex;
    padding: 20px 80px;
    border-radius: 50px;
    background: #D1DED2;
    border-style: none;
    font-family: "rale";
    font-size: 60px;
    position: absolute;
    left: 50%;     
    bottom: 120px;   
    transform: translateX(-50%); 
    color: #363C35;
}

.weiterbutton:hover {
    background-color: #a1ada3;
    color: #D1DED2;
}

.registrieren:hover {
    background-color: #a1ada3;
    color: #D1DED2;
}

/*_______________________Benutzerdaten START______________________________________________*/

.wrapper_benutzerdaten {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 800px;
    }    
    #anrede {
    grid-area: 1 / 1 / 2 / 2;
    }    
    #vorname {
    grid-area: 2 / 1 / 3 / 2;
    }   
    #nachname {
    grid-area: 2 / 2 / 3 / 3;
    }    
    #adresse {
    grid-area: 3 / 1 / 4 / 3;
    }    
    #plz {
    grid-area: 4 / 1 / 5 / 2;
    }    
    #wohnort {
    grid-area: 4 / 2 / 5 / 3;
    }    
    #email_adresse {
    grid-area: 5 / 1 / 6 / 3;
    }    
    #telefon_nummer {
    grid-area: 6 / 1 / 7 / 3;
    }

    .anrede, .benutzerdaten, .angaben_zahlung, .auswahl_zahlung{
        width: 100%;
        height: 80px;
        border-radius: 8px;
        border: 1px #363C35;
        box-sizing: border-box;
        font-size: 40px; 
        color: #363C35;
        border-width: 1px;
        border-style: solid;
        font-family: "rale";
        background: #D1DED2;
    }
    
    .anrede{
        padding: 70px 70px 70px 0px; 
    }
    
    .benutzerdaten {
        padding: 70px 70px 70px 20px;
    }
    
/*_______________________Benutzerdaten ENDE______________________________________________*/
    
