body {
    margin: 0; 
    background-image: url('img/hintergrund\ neu.jpg'); 
    background-size: cover; 
    background-attachment: fixed;
}

@font-face {
    font-family: "longi";
    src: url('fonts/Longhaul.ttf') format('truetype');
}

@font-face {
    font-family: "rale";
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

h1 {
    font-family: "longi";
    font-size: 100px;
    text-align: center;
    color:#EAEAEA;
    padding-top: 180px;
}

#Logo {
    width: 600px;     
    height: auto;       
    margin: auto;
    display: flex;
    margin-top: 250px;
}

#emailInput {
    width: 600px; 
    height: 120px; 
    border-radius: 20px; 
    border-style: none;
    padding-left: 20px; 
    font-size: 40px; 
    display: block; 
    margin: 10px auto;
    margin-top: 400px; 
    background-color: #a1ada3; 
    font-family: "rale";
}

button {
    display: inline-flex;
    padding: 20px 80px;
    border-radius: 50px;
    background: #D1DED2;
    border-style: none;
    font-family: "rale";
    font-size: 60px;
    position: absolute;
    left: 50%;     
    bottom: 120px;   
    transform: translateX(-50%); 
}

button:hover {
    background-color: #a1ada3;
    color: #D1DED2;
   

}
