


.weiterbutton {
    display: flex;
    margin-left:65%;
    margin-top: 5%;
padding: 15px 60px;
justify-content: center;
align-items: center;
gap: 40px;
border-radius: 50px;
background: #D1DED2;
border-style: none;
font-family: raleway;
font-size: 20px;
}

.hintergrundbild {
    width: 425px;
    height: 855px;
    background: no-repeat;
    background-size: cover;
    background-position: center top;
}


h1 {
    top: 20px;
    margin-left: 50%;
    width: 363px;
    height: 165px;
    overflow: hidden;
    font-family: Longhaul;
    font-size: 40px;
    text-align: center;
    color:#EAEAEA;
}

.input_container {
    display: flex;
    padding: 25px 70px;
    justify-content: center;
    border-radius: 20px;
    background: #A9CBAD;
    border-style: none;
    margin-left: 60%;
    margin-top: 80%;
    font-family: raleway;
    font-size: 15px;
    width: 100px;
    
    
}



